:host {
    display: block;
    background-color: #EEE6E6;
    min-height: 100vh;
}

.container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 50px 100px;
}

.genre {
  margin-top: 20px;
  font-size: 14px;
  
}

.film-desc{
    text-align: center;
}

.IMG {
  margin-top: 20px;
  margin-left: 40px;
}

.director {
    margin-top: 15px;
    margin-left: 138px;
}

.roles{
    margin-top: 15px;
    margin-left: 138px;
}

.back-btn {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #35b1e2;
  color: white;
  cursor: pointer;
}
.back-btn2 {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #35b1e2;
  color: white;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #4338ca;
}
.back-btn2:hover {
  background-color: #4338ca;
}
