:host {
    display: block;
    background-color: #EEE6E6;
    min-height: 100vh;
}

.container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 100px;
}

.genre {
  margin-top: 20px;
  font-size: 14px;
  
}

.film-desc{
    text-align: center;
}

.IMG {
  margin-top: 20px;
  margin-left: 40px;
}

.director {
    margin-top: 15px;
    margin-left: 138px;
}